## Programa ejercicio 10 practica 2

In [ ]:
El codigo comienza con la apertura de los archivos nombres_1, eval1 y eval2
Los cuales son leídos y asigno sus elementos a listas correspondientes

In [1]:
archNombres = open("nombres_1.txt", "r", encoding="utf-8")
archivo_1 = open("eval1.txt", "r", encoding="utf-8")
archivo_2 = open("eval2.txt", "r", encoding="utf-8")
nombres = archNombres.read().split(",")
eval_1 = archivo_1.read().split(",")
eval_2 = archivo_2.read().split(",")

In [ ]:
Como los valores en las listas eval1 y eval2 son strings, los paso a int a través de un método devolverInt()

In [2]:
def devolverInt(x):
    return (int(x.strip()))
notas_1= list(map(devolverInt,eval_1))
notas_2=  list(map(devolverInt,eval_2))
print('Lista 1   ',notas_1)
print('Lista 2   ',notas_2)

Lista 1    [81, 60, 72, 24, 15, 91, 12, 70, 29, 42, 16, 3, 35, 67, 10, 57, 11, 69, 12, 77, 13, 86, 48, 65, 51, 41, 87, 43, 10, 87, 91, 15, 44, 85, 73, 37, 42, 95, 18, 7, 74, 60, 9, 65, 93, 63, 74]
Lista 2    [30, 95, 28, 84, 84, 43, 66, 51, 4, 11, 58, 10, 13, 34, 96, 71, 86, 37, 64, 13, 8, 87, 14, 14, 49, 27, 55, 69, 77, 59, 57, 40, 96, 24, 30, 73, 95, 19, 47, 15, 31, 39, 15, 74, 33, 57, 10]

## Genero estructura "suma_notas" en la cual guardo la suma de sus notas
Lo guardo en un diccionario recorriendo con un for

In [4]:
suma_notas = {}
for i in range(len(nombres)):
    suma_notas[nombres[i].strip()] = (notas_1[i] + notas_2[i])
    
#imprimir suma valores    
print('Valores de las sumas----->', suma_notas.values())

Valores de las sumas-----> dict_values([111, 155, 100, 108, 99, 134, 78, 121, 33, 53, 74, 13, 48, 101, 128, 106, 76, 90, 21, 62, 79, 100, 68, 112, 87, 146, 148, 55, 140, 109, 103, 110, 137, 114, 65, 22, 105, 99, 24, 139, 126, 120, 84])

### Informo los nombres con nota total menor al promedio
Calculo el promedio total de notas (Nota total / cnotas)

In [5]:
promedio= sum(suma_notas.values()) / len (suma_notas)
for x in suma_notas:
    if(suma_notas[x]<promedio):
        print(x)

'CESAR'
'Diego'
'Dolores'
'DYLAN'
'ELIANA'
'Emanuel'
'GONZALO'
'Gregorio'
'Ignacio'
'Jonathan'
'Jorge'
'JUAN'
'Julian'
'Leonel'
'Nicolás'
'NICOLÁS'
'Priscila'
'Yanina'

In [ ]:
Finalmente imprimo la tabla con 'Nombre', 'Nota 1','Nota 2' y 'Total'

In [6]:
print('   {:<10}  {:>8} {:>8} {:>8}'.format('Nombre', 'Eval1', 'Eval2', 'Total'))
for i, valor in enumerate(zip(suma_notas, notas_1, notas_2)) :
    print('{:>2} {:<15} {:<8} {:<8} {:<8}'.format(i, valor[0], valor[1], valor[2], valor[1] + valor[2]))

   Nombre         Eval1    Eval2    Total
 0 'Agustin'       81       30       111
 1 'Alan'          60       95       155
 2 'Andrés'        72       28       100
 3 'Ariadna'       24       84       108
 4 'Bautista'      15       84       99
 5 'CAROLINA'      91       43       134
 6 'CESAR'         12       66       78
 7 'David'         70       51       121
 8 'Diego'         29       4        33
 9 'Dolores'       42       11       53
10 'DYLAN'         16       58       74
11 'ELIANA'        3        10       13
12 'Emanuel'       35       13       48
13 'Fabián'        67       34       101
14 'Facundo'       10       96       106
15 'FEDERICO'      57       71       128
16 'GONZALO'       11       86       97
17 'Gregorio'      69       37       106
18 'Ignacio'       12       64       76
19 'Jonathan'      77       13       90
20 'Jorge'         13       8        21
21 'JOSE'          86       87       173
22 'JUAN'          48       14       62
23 'Juan'          65       14       79
24 'Julian'        51       49       100
25 'Julieta'       41       27       68
26 'LAUTARO'       87       55       142
27 'Leonel'        43       69       112
28 'LUIS'          10       77       87
29 'Luis'          87       59       146
30 'Marcos'        91       57       148
31 'María'         15       40       55
32 'MATEO'         44       96       140
33 'Matias'        85       24       109
34 'Nicolás'       73       30       103
35 'NICOLÁS'       37       73       110
36 'Noelia'        42       95       137
37 'Pablo'         95       19       114
38 'Priscila'      18       47       65
39 'TOMAS'         7        15       22
40 'Tomás'         74       31       105
41 'Ulises'        60       39       99
42 'Yanina'        9        15       24